# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store
*.swp
*.lock

# Build artifacts
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output